<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" routerLink="home"><img src="../../../assets/img/welearn4.png" sizes="20px" alt="..." height="36"> <span class="high">We Learn</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    
  </button>

  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home" style="
        background-color: #261d51;
      outline: none;
      border: none;
      color: #fff;
      padding: 8px 22px;
      border-radius: 20px;
      font-size: 20px;
      transition: all 0.3s ease;
      cursor: pointer;
      font-weight: bold;" *ngIf="!service.isloggedIn">Home <i class="bi bi-house-fill"></i> <span class="sr-only">(current)</span></a>
      <a class="nav-link" routerLink="home-student" style="
      background-color: #261d51;
    outline: none;
    border: none;
    color: #fff;
    padding-top: 5px;
    border-radius: 50px;
    font-size: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    font-weight: bold;" *ngIf="service.isloggedIn">Dashbord <i class="bi bi-speedometer2"></i> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="courses" *ngIf="service.isloggedIn" style="color: #261d51; text-decoration: underline ;">courses</a>
      </li>
      <li class="nav-item " >
        <a class="nav-link b   " style="color: #261d51;  text-decoration: underline ;  " routerLink="userprofile">profile</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link b " style="color: #261d51;  text-decoration: underline;" routerLink="billing" *ngIf="service.isloggedIn">Bills</a>
      </li>
      <li class="nav-item  ">
        <a class="nav-link b " style="color: #261d51;  text-decoration: underline;" routerLink="messages" *ngIf="service.isloggedIn" >Messages</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!service.isloggedIn" class="nav-link" routerLink="thirdof">Register</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!service.isloggedIn" class="nav-link" routerLink="loginstudent">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact" *ngIf="!service.isloggedIn">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about" *ngIf="!service.isloggedIn">About</a>
      </li>
      
     <!----<li> <a class="nav-link">{{service.loggedStudent}}</a></li>-->

      <ul *ngIf="service.isloggedIn"  class="navbar-nav ml-auto" >
          <img src="../../../assets/img/user3.png" sizes="20px" alt="..." height="36">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              {{service.loggedStudent}}</a>
            <div class="dropdown-menu" style="border-radius: 20px;">
              <a class="dropdown-item" href="#" routerLink="userprofile">Profile</a>
              <a class="dropdown-item" href="#" routerLink="courses">My courses</a>
              <a class="dropdown-item" (click) = "onLogout()">logout</a>
          
            </div>
          </li>
        </ul>
    </ul>
  </div>
  
</nav>


<!--
  <header *ngIf="service.isloggedIn">
  
    
        <ul class="navbar-nav  mr-5" >
          <li class="nav-item active" >
            <a class="nav-link b   " style="color: #261d51;  text-decoration: underline ;  " routerLink="userprofile"><i class="bi bi-person-circle fa-2x"></i></a>
          </li>
        </ul>
        <ul class="navbar-nav ml-5 mr-5 ">
          <li class="nav-item active">
            <a class="nav-link b " style="color: #261d51;  text-decoration: underline;" routerLink="billing"><i class="bi bi-wallet-fill fa-2x"></i></a>
          </li>
        </ul>
        <ul class="navbar-nav ml-5 mr-5 " >
          <li class="nav-item active ">
            <a class="nav-link b " style="color: #261d51;  text-decoration: underline;" routerLink="messages"><i class="bi bi-envelope-fill fa-2x"></i></a>
          </li>
        </ul>
        
  
        
      
  </header>
-->