
<div class="row ml-4 mr-4">
    
    

    <!--add-->
    <div class="col-lg-12">
    <div class=" sectionCenter">
    <hr>
        <div class="story">
            <div class="cover">
                <div class="create">
                    <div class="svg">
                        <img src="../../../assets/img/svg/plusWhite.svg" alt="Create Story">
                    </div>
                    <h3>Post an Add</h3>
                </div>
                <div class="bg" style="background-color: lightblue;">
                    <span></span>
                </div>
            </div>
    
            <div class="cover">
                <div class="pro">
                    <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img/img1.jpg);"></div>
                </div>
                <h3>FilipCodes YT</h3>
                <div class="bg" style="background-image: url(../../../assets/img/angular.jpg);">
                    <span></span>
                </div>
            </div>
    
            <div class="cover">
                <div class="pro">
                    <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img2.jpg);"></div>
                </div>
                <h3>User Name</h3>
                <div class="bg" style="background-image: url(../../../assets/img/reactjs.jpg);">
                    <span></span>
                </div>
            </div>
            <div class="cover">
                <div class="pro">
                    <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img3.jpg);"></div>
                </div>
                <h3>User Name</h3>
                <div class="bg" style="background-image: url(../../../assets/img/typescript.jpg);">
                    <span></span>
                </div>
            </div>
            <div class="cover">
                <div class="pro">
                    <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img7.jpg);"></div>
                </div>
                <h3>User Name</h3>
                <div class="bg" style="background-image: url(../../../assets/img/html.png);">
                    <span></span>
                </div>
            </div>
            <div class="cover">
                <div class="pro">
                    <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img5.jpg);"></div>
                </div>
                <h3>User Name</h3>
                <div class="bg" style="background-image: url(../../../assets/img/nodejs.jpg);">
                    <span></span>
                </div>
            </div>
        </div>
    <!--barre de recherche-->
        <div class="createPost col-lg-12">
            <div class="input">
                <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img3.jpg);">
                    <span></span>
                </div>
                <div class="post"  >
                    <form class="d-flex" >
                        <input class="form-control me-2" type="search" placeholder="Are you looking for a job ?" aria-label="Search" style="
                        border-top-left-radius: 20px; border-bottom-left-radius: 20px;">
                         <button type="submit" class="btn btn-info btn-fill pull-right " style=" color:#fff; font-weight: bold; padding-left: 10px;
                         padding-right: 10px; background-color: #261d51;  border-top-right-radius: 20px;
                         border-bottom-right-radius: 20px;" ><i class="bi bi-search"></i></button>
                      </form>
                </div>
            </div>
    <div class="col-lg-12 mt-5">
            <div class="row buttons " style="background-color: aliceblue; border-radius: 20px;">
                <div class="col-lg-3 ">
                <span>
                    <div class="globalRoundProfile" style="background-image: url(../../../assets/img/money.svg);">
                       
                    </div>
                    <h4>Bills</h4>
                </span>
            </div>
            <div class="col-lg-3">
                <span>
                    <div class="globalRoundProfile" style="background-image: url(../../../assets/img/messages.svg);">
                        
                    </div>
                    <h4>Messages</h4>
                </span>
            </div>
            <div class="col-lg-3">
                <span>
                    <div class="globalRoundProfile" style="background-image: url(../../../assets/img/favorites.svg);">
                        
                    </div>
                    <h4>Favorites</h4>
                </span>
            </div>
            <div class="col-lg-3">
                <span>
                    <div class="globalRoundProfile" style="background-image: url(../../../assets/img/cv.svg);">
                        
                    </div>
                    <h4>Add CV</h4>
                </span>
                
            </div>
        
            </div>
        
        </div>
          
        </div>
     
    
    <div style="padding-top: 200px;">
        <hr>
    </div>
    
    
        
    <!--annonces-->        
    
        <div class="mainPosts col-lg-12">
            
            <div class="title">
                <div class="profile">
                    <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img5.jpg);">
                        <span></span>
                    </div>
    
                    <div class="name">
                        <a href="#">User Name</a>
                        <span></span>
                    </div>
                </div>
                <i class="fas fa-ellipsis-h"></i>
            </div>
    
            <div class="description">
                LandingPage UI Design Using Html Css/Sass JS
            </div>
    
            <div class="post" style="background-image: url(../../../assets/img/reactjs.jpg);"></div>
    
            
    
            <div class="likeShare">
                <span>
                    <div class="svg">
                        <i class="bi bi-calendar-plus-fill "></i>
                    </div>
                    <h3>Apply</h3>
                </span>
                
                <span>
                    <div class="svg ">
                        <i class="bi bi-star-fill "></i>
                    </div>
                    <h3>Favorites</h3>
                </span>
            </div>
        </div>
    
        <div class="mainPosts">
            <div class="title">
                <div class="profile">
                    <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img7.jpg);">
                        <span></span>
                    </div>
    
                    <div class="name">
                        <a href="#">User Name</a>
                        <span></span>
                    </div>
                </div>
                <i class="fas fa-ellipsis-h"></i>
            </div>
    
            <div class="description">
                LandingPage UI Design Using Html Css/Sass JS
            </div>
    
            <div class="post" style="background-image: url(../../../assets/img/nodejs.jpg);"></div>
    
            
    
            <div class="likeShare">
                <span>
                    <div class="svg">
                        <i class="bi bi-calendar-plus-fill "></i>
                    </div>
                    <h3>Apply</h3>
                </span>
                
                <span>
                    <div class="svg ">
                        <i class="bi bi-star-fill "></i>
                    </div>
                    <h3>Favorites</h3>
                </span>
            </div>
        </div>
    
        <div class="mainPosts">
            <div class="title">
                <div class="profile">
                    <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img6.jpg);">
                        <span></span>
                    </div>
    
                    <div class="name">
                        <a href="#">User Name</a>
                        <span></span>
                    </div>
                </div>
                <i class="fas fa-ellipsis-h"></i>
            </div>
    
            <div class="description">
                LandingPage UI Design Using Html Css/Sass JS
            </div>
    
            <div class="post" style="background-image: url(../../../assets/img/typescript.jpg);"></div>
    
            
    
            <div class="likeShare">
                <span>
                    <div class="svg">
                        <i class="bi bi-calendar-plus-fill "></i>
                    </div>
                    <h3>Apply</h3>
                </span>
                
                <span>
                    <div class="svg ">
                        <i class="bi bi-star-fill "></i>
                    </div>
                    <h3>Favorites</h3>
                </span>
            </div>
        </div>
    
        <div class="mainPosts">
            <div class="title">
                <div class="profile">
                    <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img4.jpg);">
                        <span></span>
                    </div>
    
                    <div class="name">
                        <a href="#">User Name</a>
                        <span></span>
                    </div>
                </div>
                <i class="fas fa-ellipsis-h"></i>
            </div>
    
            <div class="description">
                LandingPage UI Design Using Html Css/Sass JS
            </div>
    
            <div class="post" style="background-image: url(../../../assets//img/angular.jpg);"></div>
    
            
    
            <div class="likeShare">
                <span>
                    <div class="svg">
                        <i class="bi bi-calendar-plus-fill "></i>
                    </div>
                    <h3>Apply</h3>
                </span>
                
                <span>
                    <div class="svg ">
                        <i class="bi bi-star-fill "></i>
                    </div>
                    <h3>Favorites</h3>
                </span>
            </div>
        </div>
        <div class="mainPosts">
            <div class="title">
                <div class="profile">
                    <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img4.jpg);">
                        <span></span>
                    </div>
    
                    <div class="name">
                        <a href="#">User Name</a>
                        <span></span>
                    </div>
                </div>
                <i class="fas fa-ellipsis-h"></i>
            </div>
    
            <div class="description">
                LandingPage UI Design Using Html Css/Sass JS
            </div>
    
            <div class="post" style="background-image: url(../../../assets//img/angular.jpg);"></div>
    
            
    
            <div class="likeShare">
                <span>
                    <div class="svg">
                        <i class="bi bi-calendar-plus-fill "></i>
                    </div>
                    <h3>Apply</h3>
                </span>
                
                <span>
                    <div class="svg ">
                        <i class="bi bi-star-fill "></i>
                    </div>
                    <h3>Favorites</h3>
                </span>
            </div>
        </div>
        <br>
        <br>
    </div>
    </div>
    </div>
    
    
    
    
